<!DOCTYPE html>
<html lang="BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.reminfotech.net.br/favicon.ico" type="image/x-icon">
    <title>Proexpress</title>
</head>
<body>
    <h1>SCREENTEST</h1>
    <hr>
    <p>API test <br> flask</p>
    <img src="https://images.pexels.com/photos/14810603/pexels-photo-14810603.jpeg?auto=compress&cs=tinysrgb&w=175&fit=crop&h=275&dpr=1" alt="">
    
</body>
</html>